boto3
botocore
certifi
chardet
dj-database-url
Django
django-crispy-forms
django-heroku
django-storages
docutils
gunicorn
idna
jmespath
python-dateutil
pytz
s3transfer
six
djangorestframework
urllib3
whitenoise
